pkgbase = podspine-bin
	pkgdesc = Self-hosted server that turns audiobooks into per-chapter podcast feeds
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/schubydoo/podspine
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = ffmpeg
	provides = podspine
	conflicts = podspine
	source_x86_64 = podspine-1.1.0-x86_64::https://github.com/schubydoo/podspine/releases/download/v1.1.0/podspine-v1.1.0-linux-amd64
	sha256sums_x86_64 = fc1b8afa24c35010ac7cbfb49d62cfa659cfb9c69af0b65e110dbb3375a64f63
	source_aarch64 = podspine-1.1.0-aarch64::https://github.com/schubydoo/podspine/releases/download/v1.1.0/podspine-v1.1.0-linux-arm64
	sha256sums_aarch64 = d129ae3c3355eb8a0c1dfc17156e1c0870d625a4ec8d94f1124cc76fabf16005

pkgname = podspine-bin
